<launch>
    <arg name="path" default="" />
    <arg name="file_1" default="/home/ildar/catkin_ws/src/socket_streamer/launch/V1_01_easy" />
    
    <!-- <remap from="/tf" to="/vicon_tf" /> -->
    <!-- <arg name="file_2" default="my_file_2" /> -->

    <!-- <remap from="/tf" to="/vicon_tf" /> -->
    <node pkg="rosbag" type="play" name="player1" output="screen" 
        args="$(arg path)$(arg file_1).bag 
        --topics /cam0/image_raw /imu0 /clock
        --clock " />
</launch>