[Unit]
Description=<launch ROS package>

[Service]
ExecStart=/bin/bash -c "source /opt/ros/noetic/setup.bash; source /home/ildar/catkin_ws/devel/setup.bash; roslaunch socket_streamer agent_run.launch"

[Install]
WantedBy=multi-user.target